<H1>Hello Rails!</H1>
<P/>
<H3>Rails Version:</H3>
<%= @version %>
<P/>
<H3>Ruby Version:</H3>
<%= @ruby_ver %>
<P/>
<H3>Environment:</H3>
<%= @env %>
<P/>
<H3>Time:</H3>
<%= @current_time %>
<P/>
<A href=https://httpd.apache.org>Apache HTTP Server Project</A>
